html, body {
    height: 100%;
    margin: 0;
}


.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: lightcyan;
    padding: 5px;
    height: 100%;
    min-height: 100vh;
}


.container div {
    padding: 5px;
    font-size: 70px;
    text-align: center;
}

.hanaCurrent {
    border: 8px solid black;
    border-radius: 12px;
    min-width: 250px;
    background-color: darkgreen;
}

.hanaSpend {
    border: 8px solid black;
    border-radius: 12px;
    min-width: 250px;
    background-color: darkgreen;
}

.hanaEndYear {
    border: 8px solid black;
    border-radius: 12px;
    min-width: 250px;
    background-color: darkgreen;
}

