html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: lightskyblue;
    padding: 5px;
    height: 100%;
    min-height: 100vh;
}

/* container div */
.container div {
    background-color: lightcyan;
    padding: 5px;
    font-size: 70px;
    text-align: center;
    height: auto;
}

.nikauDiv {
    border: 3px solid black;
    min-width: 250px;
}

.hanaDiv {
    border: 3px solid black;
    min-width: 250px;
}

.tiaDiv {
    border: 3px solid black;
    min-width: 250px;
}
