/*establishes the height of the page to fill in the whole page */
html, body {
    height: 100%;
    margin: 0;
}

/* the container contains the page layout, and how its organized */
.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: black;
    padding: 5px;
    height: 100%;
    min-height: 100vh;
}

/* container div is text stuff inside container and such*/
.container div {
    padding: 5px;
    font-size: 70px;
    text-align: center;
}

/* the div for Nikau's button, simple shape and colour stuff */
.nikauDiv {
    border: 8px solid whitesmoke;
    border-radius: 12px;
    min-width: 250px;
    background-color: darkgray;
}

/* the div for Hana's button */
.hanaDiv {
    border: 8px solid whitesmoke;
    border-radius: 12px;
    min-width: 250px;
    background-color: darkgray;
}

/* the div for Tia's button */
.tiaDiv {
    border: 8px solid whitesmoke;
    border-radius: 12px;
    min-width: 250px;
    background-color: darkgray;
}
