.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: lightskyblue;
    padding: 5px;
}

.container div {
    background-color: red;
    border: 1px solid black;
    padding: 5px;
    font-size: 50px;
    text-align: center;
}

