.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: lightskyblue;
    padding: 5px;
}

/* container div */
.container div {
    background-color: lightcyan;
    border: 1px solid black;
    padding: 5px;
    font-size: 70px;
    text-align: center;
    height: auto;
}

